* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.nav__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0px;
  text-align: end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ff00c863;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
  z-index: 99;
}

.nav__bg ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
}

.nav__bg ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav__bg ul li:hover {
  background: rgba(255, 0, 106, 0.384);
}

.nav__bg img {
  width: 70px;
  height: 65px;
}

.nav__script {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0px;
  text-align: end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: transparent;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
  z-index: 99;
}

.nav__script ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  color: black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.nav__script ul li a {
  text-decoration: none;
  color: #000000;
}

.nav__script ul li:hover {
  background: rgba(243, 51, 131, 0.384);
}

.nav__script img {
  width: 70px;
  height: 50px;
}

header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10%;
}

header .apresentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .destination__border {
  border: 1px solid #63458a;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 3%;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

header h1 {
  color: #030a64b2;
  text-transform: uppercase;
}

header img {
  width: 25%;
  border-radius: 100%;
  border: 1px solid #63458a;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

header p {
  width: 50%;
  font-size: 18px;
  text-align: center;
  text-justify: auto;
  padding: 3%;
  color: #030a64b2;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

section {
  text-align: center;
  margin-top: 3%;
}

section h1 {
  text-transform: uppercase;
  color: #030a64b2;
  margin: 3%;
}

section .project {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

section .quote__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

section .quote {
  font-size: 18px;
  color: #030a64b2;
  border: 1px solid rgba(128, 0, 128, 0.541);
  padding: 3%;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

.project__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
}

.project__links img {
  width: 500px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

.project__links img:hover {
  border: 5px solid rgba(9, 76, 221, 0.918);
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

.container__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 255, 0.2)), to(rgba(255, 0, 255, 0.2)));
  background: linear-gradient(rgba(255, 0, 255, 0.2), rgba(255, 0, 255, 0.2));
  width: 100%;
  height: 200px;
  margin-bottom: 3%;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

.container__author .info__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #674582;
  font-size: 18px;
  margin-left: 15px;
}

.container__author img {
  width: 180px;
  height: 200px;
}

footer {
  background-color: #3a144d93;
  min-height: 20px;
  text-align: center;
  margin-top: 0px;
  padding: 10px 0px 10px 0px;
}

footer img {
  width: 25px;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    margin-top: 15%;
  }
  header p {
    width: 95%;
  }
  header img {
    margin: 3%;
  }
  .apresentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .project__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__links img {
    width: 200px;
    margin: 5%;
  }
}

@media screen and (max-width: 767px) {
  .nav__bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #ff00c863;
    overflow-x: auto;
    z-index: 99;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  .nav__script {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 99;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  .control-nav {
    position: fixed;
    top: 20px;
    left: 10px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }
  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }
  .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  #control-nav {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
  #control-nav {
    display: block;
  }
  #control-nav:focus ~ .control-nav {
    border-color: #000;
    -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
  }
  #control-nav:focus ~ .control-nav:before {
    background: #000;
  }
  #control-nav:checked ~ nav,
  #control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0px;
  text-align: end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #00397971;
  z-index: 99;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #000000;
}

.navbar ul li:hover {
  background: rgba(0, 140, 255, 0.384);
}

.navbar img {
  width: 70px;
  height: 50px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-justify: auto;
  text-align: justify;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
}

.content h1 {
  color: #2617f8;
}

.content img {
  margin: 3%;
  width: 30%;
  -webkit-box-shadow: 0 5px 5px grey;
          box-shadow: 0 5px 5px grey;
  border-radius: 5%;
}

.content p {
  padding: 5%;
}

.titulo__eco {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #0c4b07;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3%;
}

.features div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 351.812px;
  padding: 2%;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px 5px grey;
          box-shadow: 0 5px 5px grey;
  background-color: #00397971;
  color: #ffffff;
  text-align: center;
  text-justify: auto;
  font-size: 14px;
}

.features img {
  width: 100px;
  padding: 2%;
}

.more {
  text-transform: uppercase;
  font-size: 24px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3%;
}

.more img {
  width: 20px;
}

.more img:hover {
  color: blue;
}

.more a {
  text-decoration: none;
  color: black;
}

.more a:hover {
  color: blue;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: blue;
}

.video div {
  margin: 3%;
}

.video iframe {
  width: 500px;
  height: 450px;
}

.videos__title h1 {
  color: blue;
  text-align: center;
  margin: 3%;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  font-size: 14px;
  color: blue;
}

.responsive-table .col-2 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    font-size: 12px;
    text-align: center;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .responsive-table .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .title__more {
    font-size: 24px;
  }
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #00397971;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3%;
  }
  .features div {
    margin: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__eco {
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #13e60463;
  -webkit-box-shadow: 0 2px 5px grey;
          box-shadow: 0 2px 5px grey;
  z-index: 99;
}

.nav__eco ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
}

.nav__eco ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav__eco ul li:hover {
  background: rgba(10, 105, 15, 0.76);
}

.nav__eco img {
  width: 70px;
  height: 50px;
}

.titulo__eco {
  margin: 3%;
}

.texto_eco {
  width: 90%;
}

.eco__title {
  text-align: center;
  margin: 3%;
}

.features_eco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3%;
}

.features_eco div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 351.812px;
  padding: 2%;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px 5px grey;
          box-shadow: 0 5px 5px grey;
  background-color: #34e72e71;
  color: black;
  text-align: center;
  text-justify: auto;
  font-size: 14px;
}

.features_eco img {
  width: 100px;
  padding: 2%;
}

@media screen and (max-width: 767px) {
  .features_eco {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3%;
  }
  .features_eco div {
    margin: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  .nav__eco {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #13e60463;
    overflow-x: auto;
    z-index: 99;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}

.container__inspirations {
  max-width: 80%;
  margin: 0 auto;
}

.title-inspirations {
  font-family: 'MarkOT-Bold';
  color: #793df5;
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
}

.subtitle-inspirations {
  text-align: center;
  width: 41%;
  margin: 0 auto;
  line-height: 1.55;
  padding-bottom: 30px;
  font-size: 18px;
}

.slide {
  position: relative;
}

.my-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tns-nav {
  padding: 20px;
  position: relative;
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.tns-outer {
  margin: 0 auto;
  max-width: 900px;
}

.tns-horizontal.tns-subpixel > .tns-item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-outer {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tns-outer [data-action] {
  display: none;
}

.tns-nav > button {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

.secondArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.container__eco {
  width: 100%;
}

@media (max-width: 420px) {
  .container {
    max-width: 100%;
  }
  .subtitle-inspirations {
    width: 100%;
  }
  .img-right, .img-left {
    width: 50px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .subtitle-inspirations {
    width: 100%;
  }
  .img-right, .img-right {
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */